body {
    font-family:verdana;
    background-color:black;

}


h1 {
    font-weight:normal;
    font-size: 50px;
    color:white;
    text-align:center;

}

#header {
    color:aquamarine;
    text-align:center;
    font-size: 16px;
}